* {
  border: 1px solid red;
}

html,
body {
  height: 100%;
}

h1 {
  text-align: center;
}

button {
  padding: 40px;
  border-radius: 30px;
}

.button-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hidden {
  display: none;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: gray;
}
